sensor_name     :jxf23
i2c_addr        :0x40
fps_num         :25
width           :1920
height          :1080
wdr_en          :0
bitrate         :8000
rcmode          :cbr
audio_en        :1
gop             :25
adb_en          :0
speak_en       :1
nframes         :3
{640,  360}
{1280, 720}
{1920, 1080}